body {
  background-color: #000;
}

.center {
  margin: 5%;
}

.bg {
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;

  width: 1015px;
  height: 100%;
  background: url("https://s3-us-west-2.amazonaws.com/css-anim/LRRH_v01_04_flattened.jpg")#000 no-repeat;
  background-position-y: 5px;
  background-position-x: 5px;
  background-size: 1015px;



}

.girl {
  position: absolute;
  left:0;
  right:260px;

  display: inline-block;
  width: 200px;
  height: 235px;
  margin: 345px auto 0;
  background: url("https://s3-us-west-2.amazonaws.com/css-anim/girl_css.png");
  -webkit-animation: play 2s steps(3) infinite;
          animation: play 2s steps(3) infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;


}

@-webkit-keyframes play {
   0% { background-position: 0px;}
   80% {background-position: 0px;}
   100% { background-position: -600px;}
}

@keyframes play {
   0% { background-position: 0px;}
   80% {background-position: 0px;}
   100% { background-position: -600px;}
}

.overlayer {
  position: relative;
  opacity: .65;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  background: url("https://s3-us-west-2.amazonaws.com/css-anim/overlayer.png");

  width: 1015px;
  height: 703px;
  mix-blend-mode: color-burn;
  margin-bottom: 100px;

}

.blend {

}
